@font-face {
  font-family: Oxygen Bold;
  font-style: normal;
  src: url("../fonts/Oxygen-Bold.ttf"); }

@font-face {
  font-family: Oxygen Regular;
  font-style: normal;
  src: local("../fonts/Oxygen-Regular.ttf"); }

@font-face {
  font-family: Oxygen Light;
  font-style: normal;
  src: local("../fonts/Oxygen-Light.ttf"); }

h1, h2, h3 {
  color: #234b0a;
  font-family: Oxygen Bold; }

header {
  height: 100px;
  background-color: #234b0a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  header h1 {
    color: #ff8000; }

body {
  margin: 0; }

button {
  background-color: #daeecc;
  height: 30px;
  width: 20em;
  border-radius: 5px;
  color: #234b0a;
  font-family: Oxygen Bold;
  font-weight: bold;
  margin: 10px; }
  button:hover {
    background-color: #bde1a6; }
  button:active {
    background-color: #234b0a;
    color: #daeecc; }

.seleccion {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.listado {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em; }

.tarjeta {
  border: 1px solid #234b0a;
  width: 90%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.75); }
  .tarjeta h3 {
    color: black; }

.oculto {
  display: none; }

.botones {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px; }

input {
  border-radius: 5px; }

.buscador .barraBusqueda {
  height: 24px;
  margin-right: -5px; }

.buscador .botonBusqueda {
  width: 3em;
  margin-left: 0;
  margin-top: 15px; }

.contNuevaTienda {
  border: #bde1a6 2px solid;
  margin-left: 85px;
  margin-right: 85px;
  border-radius: 15px; }

.formulario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 12em;
  flex-wrap: wrap;
  padding-top: 2em; }
  .formulario input {
    width: 600px;
    display: block; }
    .formulario input:valid {
      border: 5px solid green; }
    .formulario input:invalid {
      border: 5px solid red; }
  .formulario label {
    font-family: Oxygen Bold;
    color: #234b0a; }

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #234b0a;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  margin-left: 48%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
