$verdeMedio: rgb(189,225,166)
$verdeOscuro: #234b0a
$verdeFlojo: rgb(218,238,204)
$blanco: white

@font-face
    font-family: Oxygen Bold
    font-style: normal
    src: url("../fonts/Oxygen-Bold.ttf")
@font-face
    font-family: Oxygen Regular
    font-style: normal
    src: local("../fonts/Oxygen-Regular.ttf")
@font-face
    font-family: Oxygen Light
    font-style: normal
    src: local("../fonts/Oxygen-Light.ttf")

h1, h2, h3
    color: $verdeOscuro
    font-family: Oxygen Bold
header
    height: 100px
    background-color: $verdeOscuro
    display: flex
    justify-content: center
    align-items: center
    margin: 0
    h1
        color: rgb(255,128,0)
body
    margin: 0
button
    background-color: $verdeFlojo
    height: 30px
    width: 20em
    border-radius: 5px
    color: $verdeOscuro
    font-family: Oxygen Bold
    font-weight: bold
    margin: 10px

.seleccion
    margin-top: 200px
    display: flex
    flex-direction: column
    align-items: center

.listado
    display: flex
    flex-direction: column
    align-items: center
    margin-top: 2em

.tarjeta
    border: 1px solid $verdeOscuro
    width: 90%
    margin-bottom: 1em
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 15px
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.75)
    h3
        color: black

.oculto
    display: none

.botones
    display: flex
    justify-content: space-between
    margin-left: 80px
    margin-right: 80px
input
    border-radius: 5px
.buscador
    .barraBusqueda
        height: 24px
        margin-right: -5px
    .botonBusqueda
        width: 3em
        margin-left: 0
        margin-top: 15px
.contNuevaTienda
    border: $verdeMedio 2px solid
    margin-left: 85px
    margin-right: 85px
    border-radius: 15px
    transition:
.formulario
    display: flex
    flex-direction: row
    justify-content: space-around
    height: 12em
    flex-wrap: wrap
    padding-top: 2em
    input
        width: 600px
        display: block
    label
        font-family: Oxygen Bold
        color: $verdeOscuro
        
.valido, .valido:focus, .valido:hover
    border: 5px solid green !important

.invalido, .invalido:hover, .invalido:focus
    border: 5px solid red !important
.loader
    border: 16px solid #f3f3f3
    border-top: 16px solid $verdeOscuro
    border-radius: 50%
    width: 120px
    height: 120px
    animation: spin 1.5s linear infinite
    margin-left: 48%

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
