@font-face
    font-family: Oxygen Bold
    font-style: normal
    src: url("../fonts/Oxygen-Bold.ttf")
@font-face
    font-family: Oxygen Regular
    font-style: normal
    src: local("../fonts/Oxygen-Regular.ttf")
@font-face
    font-family: Oxygen Light
    font-style: normal
    src: local("../fonts/Oxygen-Light.ttf")

h1, h2
    color: darkblue
    font-family: Oxygen Bold
h1
    background-color: cornflowerblue
    height: 100px
    display: flex
    justify-content: center
    align-items: center
    border: darkblue 5px solid
    margin: 0
body
    margin: 0
button
    background-color: lightblue
    height: 30px
    width: 20em
    border-radius: 5px
    color: darkblue
    font-family: Oxygen Bold
    font-weight: bold
    margin: 10px
.seleccion
    margin-top: 200px
    display: flex
    flex-direction: column
    align-items: center
